<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${userRegistrationDto}">
    <input type="text" th:field="*{firstName}" placeholder="Imię">
    <input type="text" th:field="*{lastName}" placeholder="Nazwisko">
    <input type="text" th:field="*{birthDate}" placeholder="Data urodzenia">
    <input type="text" th:field="*{pesel}" placeholder="Pesel">
    <input type="text" th:field="*{email}" placeholder="Email">
    <input type="text" th:field="*{password}" placeholder="Hasło">
    <input type="text" th:field="*{phone}" placeholder="Numer telefonu">
    <input type="text" th:field="*{userAddress.zipCode}" placeholder="Kod pocztowy">
    <input type="text" th:field="*{userAddress.city}" placeholder="Miasto">
    <input type="text" th:field="*{userAddress.country}" placeholder="Kraj">
    <input type="text" th:field="*{userAddress.street}" placeholder="Ulica">
    <label for="preferEmails">Woli maile?</label>
    <input type="checkbox" th:field="*{preferEmails}" id="preferEmails">
    <button>Wyślij</button>
</form>
</body>
</html>